<div class="jumbotron">
    <h2 class=" inline text-muted" id="pageHeader">
        {{title | translate}}
    </h2>
</div>
<div class="container">
    <p><label> {{'Please choose type of template :' | translate}} <select ui-select2="{minimumResultsForSearch:-1}"
                                                                          ng-model="templateType">
        <option selected="selected" value="system">{{'Public Templates' | translate}}</option>
        <option value="user">{{'My Templates' | translate}}</option>
    </select>
    </label> <img src="../bower_components/select2/select2-spinner.gif" ng-show="loading"/>
    </p>
    <div class="row">
        <div class="col-xs-4" ng-repeat="player in templates">
            <a class="playerTemplate" ng-href="edit/{{player.id}}">
                <h5>{{player.settings.name | translate}}</h5>

                <div class="thumbWrapper">
                    <img tooltip-html-unsafe="{{makeTooltip($index)|translate}}" class="playerThumb"
                         src="{{player.thumbnailUrl}}" data-tooltip-placement="top"/>
                </div>
            </a>
        </div>
    </div>
</div>
